# Import Libraries

In [1]:
import pandas as pd 
import numpy as np

# Import Dataset

In [2]:
# import dataset
df = pd.read_csv('/Users/husaintsabit/Downloads/Labelling_husain/scrapping-husain-revisi.csv')
df

,date,comment,symbol
0,"16 Dec 22, 11:10",Penyampaian Bukti Iklan Hasil RUPS [FISH],FISH
1,"16 Dec 22, 09:40",Perubahan Pengurus [FISH],FISH
2,"16 Dec 22, 09:20",Ringkasan Risalah Rapat Umum Para Pemegang Sah...,FISH
3,"16 Dec 22, 08:26",FKS Multi Agro (FISH) Raih Pinjaman Rp250 Mili...,FISH
4,"16 Dec 22, 08:25",PT FKS Multi Agro Tbk (FISH) Raih Pinjaman Rp2...,FISH
...,...,...,...
1115,"11 Aug 22, 18:12 ¬∑ Edited on 11 Aug 22, 18:25",Belajar melihat ROE secara mendalam\n\n\nKetik...,KEJU
1116,"9 Aug 22, 23:12",$MYOR $AMRT $UNVR $HMSP $KEJU\n\nhttps://cutt....,KEJU
1117,"4 Aug 22, 12:00",Laporan Bulanan Registrasi Pemegang Efek [KEJU],KEJU
1118,"1 Aug 22, 12:56",Gerak Cepat! Emiten Produsen Prochiz (KEJU) Se...,KEJU
1119,"29 Jul 22, 16:55",$KEJU pada Q2 2022 membukukan Laba Bersih Rp 4...,KEJU

# Membuat kolom baru

In [11]:
df['label_1'] = 'NaN'
df['label_2'] = 'NaN'

# Membuat fungsi untuk mencari komen dan mengganti label pada index tertentu

In [40]:
# fungsi untuk melihat komen dan symbol tertentu
def get_comment(index):
    print(df['symbol'][index])
    print(df['comment'][index])

In [41]:
# membuat fungsi untuk mengganti nilai label_1 dan label_2 berdasarkan index tertentu
def set_label(index : int, label_1 : int, label_2: int):
    df['label_1'][index] = label_1
    df['label_2'][index] = label_2

# melihat isi komen pada index tertentu

yang menjadi pemisah komen yang satu dengan komen yang lain yaitu symbol, pada kasus ini symbol terdiri dari (FISH, PSGO, JARR, DLTA, MGRO, ANJT, BWPT, KEJU)

In [76]:
get_comment(96)
get_comment(97)
get_comment(98)
get_comment(99)
get_comment(100)

JARR
Proud of you my bro @juliusFang !
Member of VOLABILITY family !

Keep it up !
Terus lah mengedukasi para investor retail di Indonesia !

Buat yg berdomisili di Sumatera Utara yuk join !

Random tag :
JARR
$JARR toloooong hooo hooo
JARR
$JARR compounding loss üòé
JARR
$JARR
JARR
@natan88 kurang $JARR yang belum cuan, bantu bosku ‚ò∫Ô∏èüòä

# Mengisi label sesuai dengan index tertentu

Panduan pengisian value pada label.

label_1 : 0 = netral, 1 = negatif, 2 = positif

label_2 : 0 = not spam, 1 = spam

In [77]:
set_label(96, 2, 0)
set_label(97, 0, 1)
set_label(98, 1, 0)
set_label(99, 0, 1)
set_label(100, 0, 0)

In [81]:
# melihat 100 data pertama
df.head(100)

,date,comment,symbol,label_1,label_2
0,"16 Dec 22, 11:10",Penyampaian Bukti Iklan Hasil RUPS [FISH],FISH,0,0
1,"16 Dec 22, 09:40",Perubahan Pengurus [FISH],FISH,0,0
2,"16 Dec 22, 09:20",Ringkasan Risalah Rapat Umum Para Pemegang Sah...,FISH,0,0
3,"16 Dec 22, 08:26",FKS Multi Agro (FISH) Raih Pinjaman Rp250 Mili...,FISH,2,0
4,"16 Dec 22, 08:25",PT FKS Multi Agro Tbk (FISH) Raih Pinjaman Rp2...,FISH,2,0
...,...,...,...,...,...
95,"12 Dec 22, 08:22","$JARR\nPlan lengkap ada di channel telegram, K...",JARR,0,1
96,"10 Dec 22, 10:11",Proud of you my bro @juliusFang !\nMember of V...,JARR,2,0
97,"9 Dec 22, 14:22",$JARR toloooong hooo hooo,JARR,0,1
98,"8 Dec 22, 09:34",$JARR compounding loss üòé,JARR,1,0
99,"7 Dec 22, 14:40",$JARR,JARR,0,1

In [88]:
# menyimpan file ke csv
df.to_csv('labelling_husain.csv', index=False)